{% extends 'music/base.html' %}
{% block title %}{{ book }}{% endblock %}
{% block books_active %}active{% endblock %}

{% block body %}
<div class="container-fluid songs-container">

    <div class="row">

        <!-- Left Book Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'music:detail' book.id %}">
                        {% if book.Book_logo %}
                            <img src="{{ book.Book_logo.url }}" class="img-responsive">
                        {% else %}
                            <h3>No image to display</h3>
                        {% endif %}
                    </a>
                    <h1>{{ book.Book_title }} <small>{{ book.Typegenre }}</small></h1>
                    <h2>{{ book.Author }}</h2>
                </div>
            </div>
        </div>

        <!-- Right book_format Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" class="active"><a href="{% url 'music:detail' book.id %}">View All</a></li>
                <li role="presentation"><a href="{% url 'music:create_book' book.id %}">Add New books</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>All Books</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Audio File</th>
                            <th>Favorite</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for song in book.book_format_set.all %}
                            <tr>
                                <td>{{ song.Book_year }}</td>
                                <td>
                                    <a  href="{{ song.audio_file.url }}">
                                        <button type="button" class="btn btn-success btn-xs">
                                            <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                                        </button>
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'music:favorite' audio.id %}" class="btn-favorite"><span class="glyphicon glyphicon-star {% if song.is_favorite %}active{% endif %}"></span></a>
                                </td>
                                <td>
                                    <form action="{% url 'music:delete_song' album.id audio.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="book_id" value="{{ book.id }}" />
                                        <button type="submit" class="btn btn-danger btn-xs">
                                            <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}