{% extends 'music/base.html' %}

{% block books_active %}active{% endblock %}

{% block body %}

<div class="books-container container-fluid">

    <!-- Books -->
    <div class="row">
        <div class="col-sm-12">
            <h3>{{ user.username }}'s Books</h3>
        </div>
        {% if books %}
            {% for book in books %}
                 <div class="col-xs-6 col-md-3">
                    <div class="thumbnail">
                        <a href="{% url 'music:detail' book.id %}">
                            <img src="{{ book.Book_logo.url }}" class="img-responsive">
                        </a>
                        <div class="caption">
                            <h2>{{ book.Book_title }}</h2>
                            <h4>{{ book.Author }}</h4>

                            <!-- View Details -->
                            <a href="{% url 'music:detail' book.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>

                            <!-- Delete Book -->
                            <form action="{%url 'music:delete_book' book.id%}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="book_id" value="{{ book.id }}" />
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>

                            <!-- Favorite Book -->
                            <a href="{% url 'music:favorite_book' book.id %}" class="btn btn-default btn-sm btn-favorite">
                                <span class="glyphicon glyphicon-star {% if book.is_favorite %}active{% endif %}"></span>
                            </a>

                        </div>
                    </div>
                </div>

            {% endfor %}
        {% else %}
            <div class="col-sm-12">
                <br>
                <a href="{%url 'music:create_book'%}">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Add an Book
                    </button>
                </a>
            </div>
        {% endif %}
    </div>

    <!-- If user searches and there are songs -->
    {% if book_formats %}
        <div class="row">
            <div class="col-sm-12">
                <h3>Songs</h3>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Song Title</th>
                                    <th>Artist</th>
                                    <th>Audio File</th>
                                    <th>Book</th>
                                    <th>Favorite</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for song in book_formats %}
                                    <tr>
                                        <td>{{ song.Audio_title }}</td>
                                        <td>{{ song.book.Author}}</td>
                                        <td>
                                            <a target="_blank" href="{{ song.Audio.url }}">
                                                <button type="button" class="btn btn-success btn-xs">
                                                    <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                                                </button>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{% url 'music:detail' song.book.id %}">
                                                <img src="{{ song.book.Book_logo }}" class="img-responsive" style="width: 20px; float: left; margin-right: 10px;" />
                                            </a>
                                            <a href="{% url 'music:detail' song.book.id %}">{{ song.book.Book_title }}</a>
                                        </td>
                                        <td>
                                            <a href="{% url 'music:favorite' song.book.id %}" class="btn-favorite"><span class="glyphicon glyphicon-star {% if song.is_favorite %}active{% endif %}"></span></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

</div>
{% endblock %}